.main div{
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 5%;
    font-size: 1.5rem;
}
.main{
    width: 600px;
    height: 600px;
    background-color: gray;
    border: 1pt solid black;
    margin: 0% auto;
}
.red{
    background-color: red;
    border: 10pt solid black;
    padding-left: 1rem;
    margin-left: 200px;
}
.yellow{
    background-color: yellow;
    border: 10pt solid orange;
    text-align: center;
    padding-top: 2rem;
}
.blue{
    background-color: blue;
    border: 10pt solid green;
    color: bisque;
    text-align: right;
    padding-right: 1rem;
    margin-left: 400px;
}